.message {
  display: flex;
  align-items: center;
  padding: 20px;
  color: white;
}
.Delete {
  color: rgb(255, 85, 85);
}
.Delete:hover {
  filter: brightness(1.4);
  cursor: pointer;
}
.message__info {
  margin-left: 20px;
}
.message__timestamp {
  color: gray;
  margin-left: 20px;
  font-size: x-small;
}
